{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n %}

{% block content %}
<div class="organization-detail">
  {% spaceless %}

    {% with organization=current_page.organization header_level=2 %}

      <div class="organization-detail__banner">
        {% placeholder "banner" %}
      </div>

        <div class="organization-detail__logo">
          {% with width=216 height=120 %}
            {% placeholder "logo" %}
          {% endwith %}
        </div>

      <h1 class="organization-detail__title">{{ current_page.get_title }}</h1>

      <div class="organization-detail__content">

        <div class="organization-detail__content__description">
          {% placeholder "description" %}
        </div>

        <ul class="organization-detail__content__courses">
          {% for course in organization.courses.all %}
            {# If the current page is a draft, show draft courses with a class annotation for styling #}
            {% if current_page.publisher_is_draft %}
              {% if course.check_publication is True %}
                <li class="course-child">
                  <a class="course-child__body" href="{{ course.public_extension.extended_object.get_absolute_url }}">
                    <div class="course-child__body__top">
                      <div class="course-child__image">
                        {% show_placeholder "course_teaser" course.public_extension.extended_object %}
                      </div>
                    </div>
                    <div class="course-child__body__middle">
                        <div class="course-child__body__org">
                            {{ course.public_extension.extended_object.course.organization_main.extended_object.get_title }}
                        </div>
                        <div class="course-child__body__title">
                            {{ course.public_extension.extended_object.get_title }}
                        </div>
                    </div>
                    <div class="course-child__body__bottom">
                        <div class="course-child__date">
                          {% trans "Commence le" %}: {{ course.public_extension.extended_object.course.course_runs.last.start }}
                        </div>
                    </div>
                  </a>
                </li>
              {% else %}
                <li class="course-child">
                  <a class="course-child__body" href="{{ course.extended_object.get_absolute_url }}">
                      <div class="course-child__body__top">
                        <div class="course-child__image">
                          {% show_placeholder "course_teaser" course.extended_object %}
                        </div>
                      </div>
                      <div class="course-child__body__middle">
                          <div class="course-child__body__org">
                              {{ course.extended_object.course.organization_main.extended_object.get_title }}
                          </div>
                          <div class="course-child__body__title">
                              {{ course.extended_object.get_title }}
                          </div>
                      </div>
                      <div class="course-child__body__bottom">
                          <div class="course-child__date">
                            {% trans "Commence le" %}: {{ course.extended_object.course.course_runs.last.start }}
                          </div>
                      </div>
                  </a>
                </li>
              {% endif %}
            {# If the current course page is the published version, show only the courses that are published #}
            {% elif course.check_publication is True %}
              <li class="course-child">
                <a class="course-child__body" href="{{ course.public_extension.extended_object.get_absolute_url }}">
                  <div class="course-child__body__top">
                    <div class="course-child__image">
                      {% show_placeholder "course_teaser" course.extended_object %}
                    </div>
                  </div>
                  <div class="course-child__body__middle">
                      <div class="course-child__body__org">
                          {{ course.extended_object.course.organization_main.extended_object.get_title }}
                      </div>
                      <div class="course-child__body__title">
                        {{ course.extended_object.get_title }}
                      </div>
                  </div>
                  <div class="course-child__body__bottom">
                      <div class="course-child__date">
                        {% trans "Commence le" %}: {{ course.extended_object.course.course_runs.last.start }}
                      </div>
                  </div>
                </a>
              </li>
            {% endif %}
          {% empty %}
            <li class="organization-detail__content__courses organization-detail__content__courses--empty">
              {% trans "No associated courses" %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endwith %}

  {% endspaceless %}
</div>
{% endblock content %}
