{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n %}

{# This is a generic page template that will list and link its child pages #}

{% block content %}
<div class="generic-list">

    <h1 class="generic-list__title">{{ current_page.id }}: {{ current_page.get_title }}</h1>
    <ul class="course-glimpse-container">
        {% for page in current_page.get_child_pages %}
        <li class="course-glimpse">
            <a class="course-glimpse__body" href="{{ page.get_absolute_url }}">
                <div class="course-glimpse__image">{% show_placeholder "logo" page %}</div>
                <div class="course-glimpse__title">{{ page.get_title }}</div>
            </a>
        </li>
        {% empty %}
            <span>{% trans "This page has no child objects" %}</span>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
